*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.sub-text{
    color:  hsl(227, 12%, 61%);
    font-size: 17px;
    padding: 1rem 0rem;  
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 ;
}
.links a{
    text-decoration: none;
    font-weight: 600;
    margin:0rem 0.5rem 0rem 0.5rem;
    color: hsl(228, 39%, 23%)
}
.links a:hover{
    opacity: 0.85;
}
#btn{
    text-decoration: none;
    border-radius: 50px;
    padding: 0.75rem 1rem;
    background-color: hsl(12, 88%, 59%);
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    box-shadow: 0 7px 8px 0  rgba(0, 0, 0, 0.16);
    width: fit-content;
}
#btn:hover{
    opacity: 0.85;
}
.hero-details{
   height: 100%;
   display: flex;
   justify-content: center;
   flex-flow: column;

}
.hero-section{
    padding:2rem 0rem;
}
.hero-section h1{
    font-weight: 800;
    font-size: 3.5rem;
}
.pattern-img{
    position: absolute;
    z-index: -1;
    right: -146px;
    top: -227px;
}
.hero-sec-wrap{
    position: relative;
    overflow: hidden;
}
.about{
    padding: 2.5rem 0rem;
}
.about-details h2{
    font-weight: 850;
    font-size: 2.5rem;
}
.single-details{
    display: flex;
    margin-bottom: 1.5rem;
}
.single-details .number{
    background-color:  hsl(12, 88%, 59%);
    color: white;
    height: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius:20px ;
}
.single-details .detail{
    padding:0rem 1.5rem;
}
.single-details .detail h5{
    font-weight: 700;

}
.pattern-img-2{
    position: absolute;
    z-index: -1;
    left:-29rem;
    bottom: -27rem;
}
.about-sec-wrapper{
    position: relative;
    /* overflow: hidden; */
}
.testimonials h2{
    font-weight: 850;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 5rem;
}
.item .testimonial img{
    width: 90px;
    margin: 0 auto;
    margin-bottom: -38px;

}
.item .details{
    background-color:#fafafa;
    padding: 2.5rem;
    padding-top: 4rem;
    text-align: center;

}
.testimonial .details h5{
    font-weight: 700;
}
.testimonials .button-wrapper{
    text-align: center;
    padding:4rem 0 ;
}
.get-started-1{
    background-color:  hsl(12, 88%, 59%);
    padding: 6rem 0;
    position: relative;
    overflow: hidden;
}
.get-started-1 .btn-wrapper{
    /* text-align: right; */
    display: flex;
    /* align-items: center; */
    justify-content: right;
 
 
}
#btn-white{
    text-decoration: none;
    border-radius: 50px;
    padding: 0.75rem 1rem;
    color: hsl(12, 88%, 59%);
    background-color: white;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    box-shadow: 0 7px 8px 0  rgba(0, 0, 0, 0.16);
    width: fit-content;
}
#btn-white:hover{
    opacity: 0.85;}
.get-started-1 h2{
    font-weight: 700;
    color: white;
}
.get-started-1 .pattern-img-3{
    position:absolute;
    opacity: 0.1;
    top:-50px;
     
}
.get-started-1 .pattern-img-4{
    position:absolute;
    opacity: 0.1;
    top:-650px;
    right: -580px;
}
.footer{
    background-color: black;
    padding: 3.5rem 0rem;
}
.footer .logo-image ,.footer-logo-image{
    filter: invert(8) brightness(4.5);
    padding: 2rem 0rem;
}
.footer-logo-image{
    margin: 0 auto;
}
.footer .social-links a{
    margin: 0rem 0.2rem;
}
.nav-links{
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
}
.nav-links a{
    text-decoration: none;
    text-transform: capitalize;
    color: #ccc;
    margin-left:0.75rem ;
    margin-right:0.75rem ;
    margin-bottom: 1rem;
}
.footer input{
    background: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 0.65rem;
    margin-bottom: 20px;

    
}   
.footer form{
    text-align: right ;
    padding: 2rem 0rem;
}
.credit-wrapper{
    text-align: right;
    color: #ccc;
}
.footer-logo-credits{
    text-align: center;
}
.footer-logo-credits p{
    color: #ccc;
}
.hero-sec-wrap .bar{
    font-size: 30px;
    cursor: pointer;
}
.icon {
    display: none;
    
  }
.hide{
    display: flex !important;
}
  
  


/* /// */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 499px) {
.footer .logo-image{
    display: none;
}
.footer .small-form{
    display: block;
}
.social-links{
    text-align: center;
}
.nav-links{
    padding: 3rem 2.5rem;
}
.footer-inbox{
    display: none;
}
.footer-logo-image,.credits-footer{
    display: block;
}
.nav-button{
    display: none;
}
.links{
    position: fixed;
    width: 93%;
    height: 50vh;
    background-color:white;
    top: 80px;
    left: 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    }

.icon {
        display:block;
      }
.hero-sec-wrap .links a{     
        font-size: 20px;
        padding: 15px;
    }
    
 }
 /* footer in small device */
 @media only screen and (min-width: 768px){
    .footer form{
        padding-top: 0px;
    }
 }

/* Small devices (portrait tablets and large phones, 500px and up) */
@media only screen and (min-width: 500px){
    .footer .logo-image{
        display: none;
    }
    .footer .small-form{
        display: block;
    }
    .social-links{
        text-align: center;
    }
    .nav-links{
        padding: 3rem 2rem;
    }
    .footer-inbox{
        display: none;
    }
    .footer-logo-image,.credits-footer{
        display:block;
    }
    .nav-button{
        display: none;
    }
    
}

/* Medium devices (landscape tablets, 700px and up) */
@media only screen and (min-width: 768px) {
    .footer .logo-image{
        display: none;
    }
    .footer .small-form{
        display: block;
    }
    .social-links{
        text-align: center;
    }
    .nav-links{
        padding: 3rem 2rem;
    }
    .footer-inbox{
        display: none;
    }
    .footer-logo-image,.credits-footer{
        display:block;
    }
    .nav-button{
        display: none;
    } 
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .footer .logo-image{
        display: block;
    }
    .footer .small-form{
        display: none;
    }
    .footer-inbox{
        display: block;
    }
    .social-links{
        text-align: left;
    }
    .footer-logo-image,.credits-footer{
        display: none;
    }
    .nav-button{
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .footer .logo-image{
        display: block;
    }
    .footer .small-form{
        display: none;
    }
    .footer-inbox{
        display: block;
    }
    .social-links{
        text-align: left;
    }
    .footer-logo-image,.credits-footer{
        display: none;
    }
    .nav-button{
        display: block;
    }

    
}